// Custom styles.
.highlight {
  max-height: 700px;
}

.sidebar-nav-toc:hover, .sidebar-nav-toc.sidebar-nav-active, .sidebar-nav-overview:hover, .sidebar-nav-overview.sidebar-nav-active {
  color: #f56262 !important;
}
